/**Global Colors**/
@command-color: limegreen;


.standard-text() {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.white-text() {
    color:#FFF;
    font-family: 'Droid Serif', serif;
}

.title() {
    font-size: 30px;
    font-weight: 400;
}




html, body {
    overflow-x: hidden;
    width: 100%;
	padding: 0px;
	margin: 0px;
}

