/**Global Colors**/
@command-color: limegreen;


.standard-text() {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.green-btn() {

    padding:15px 40px;
    color:#FFF;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    
    p {
        margin: 0px;
    }
}


html, body {
    overflow-x: hidden;
    width: 100%;
	padding: 0px;
	margin: 0px;
}

