<div class="header">    
    
    <div id="header-left">
        <img src="img/innovationStudioColor.png" id="header-img" redirect-home>

        <p redirect-home>Ge Digital Innovation Studio</p>
    </div>

    
    <!--The Menu-->
    <div id="header-menu-btn" class="pull-right">
        
        <div id="contact-us" redirect-contact>
            <a>Contact Us!</a>
        </div>
        
        <p toggle-global-menu >Menu</p>
        <span toggle-global-menu class="fa fa-bars"></span>
    </div>
    
</div>
<div id="header-menu" hide-on-scroll>

    <div class="header-link" redirect-home>
        <div class="header-link-img-area">
            <img src="img/bullet_point.png"/>
        </div>
        <a href="" class="header-menu-link">Home</a>
        <p class="sub">No Place Like It</p>
    </div>
    
    <div class="header-link" redirect-team>
        <div class="header-link-img-area">
            <img src="img/bullet_point.png"/>
        </div>
        <a href="" class="header-menu-link">Who We Are</a>
        <p class="sub">Our Team and Culture</p>
    </div>

    <div class="header-link" redirect-products>
        <div class="header-link-img-area">
            <img src="img/bullet_point.png"/>
        </div>
        <a href="" class="header-menu-link">What We Do</a>
        <p class="sub">See the Products &amp; Services We Create</p>
    </div>

    <div class="header-link" redirect-approach>
        <div class="header-link-img-area">
            <img src="img/bullet_point.png"/>
        </div>
        <a href="" class="header-menu-link">How We Do It</a>
        <p class="sub">Our Approach and Methodology</p>
    </div>

    <div class="header-link" redirect-contact>
        <div class="header-link-img-area">
            <img src="img/bullet_point.png"/>
        </div>
        <a href="" class="header-menu-link">Contact Us</a>
        <p class="sub">Ask Us Anything, We're Here for You</p>
    </div>

</div>
